<!-- RewriteEngine On
RewriteBase /job_portal/  # Adjust if your directory is different

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L] -->